<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/market.css"> <!-- Link to your CSS file -->
    <title>Product Details</title>
</head>
<body>
    <!-- Header Section -->
    <%- include('partials/header.ejs') %>

    <!-- Main Content Section -->
    <main>
        <div class="user-info">
            <h1>Welcome <span><%= user.displayName %></span>!</h1>
            <img src="<%= user.picture %>" alt="User Profile Picture">
            <table>
                <tr>
                    <th>OAuth Provider:</th>
                    <td><%= user.provider %></td>
                </tr>
                <tr>
                    <th>ID:</th>
                    <td><%= user.id %></td>
                </tr>
                <tr>
                    <th>Username:</th>
                    <td><%= user.displayName %></td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td><%= user.emails[0].value %></td>
                </tr>
            </table>
        </div>
    </main>

    <!-- Footer Section -->
    <%- include('partials/footer.ejs') %>
</body>
</html>